.search-input {
  padding: 8px;
  width: 50%;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.post-card {
}

.post-header {
  font-size: 18px;
}

.post-date {
  font-size: 12px;
  font-style: italic;
}

.post-body {
  font-size: 14px;
}

mark {
  background-color: yellow;
  font-weight: bold;
}
